/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber";

.container {
  max-width: 1140px;
  width: 80%;
  margin: 2em auto;
}

.form-group {
  margin-bottom: 10px;
}
